<fieldset>
  <legend><%= l(:support_text_connection_settings) %></legend>
  <p><label><%= l(:support_text_replyto) %></label>
    <%= text_field_tag 'settings[replyto]', @settings['replyto'] %><br />
  </p>
  <p><label><%= l(:support_text_mail_header) %></label>
    <%= text_field_tag 'settings[mail_header]', @settings['mail_header'] %><br />
  </p>
  <p><label><%= l(:support_text_api_key) %></label>
    <%= text_field_tag 'settings[api_key]', @settings['api_key'] %><br />
  </p>
</fieldset>

<fieldset>
  <legend><%= l(:support_text_project_settings) %></legend>
  <p><label><%= l(:support_text_tracker) %></label>
    <%= text_field_tag 'settings[tracker]', @settings['tracker'] %><br />
  </p>
  <p><label><%= l(:support_text_login_user) %></label>
    <%= text_field_tag 'settings[login_user]', @settings['login_user'] %><br />
  </p>
  <p><label><%= l(:support_text_tags_field) %></label>
    <%= text_field_tag 'settings[tags_field]', @settings['tags_field'] %><br />
  </p>
  <p><label><%= l(:support_text_comp_status) %></label>
    <%= text_field_tag 'settings[comp_status]', @settings['comp_status'] %><br />
  </p>
  <p><label><%= l(:support_text_revisit_status) %></label>
    <%= text_field_tag 'settings[revisit_status]', @settings['revisit_status'] %><br />
  </p>
</fieldset>

<fieldset>
  <legend><%= l(:support_text_preferences) %></legend>
  <p><label><%= l(:support_text_homedir_path) %></label>
    <%= text_field_tag 'settings[homedir_path]', @settings['homedir_path'] %><br />
  </p>
  <p><label><%= l(:support_text_signature_file) %></label>
    <%= text_field_tag 'settings[signature_file]', @settings['signature_file'] %><br />
  </p>
  <p><label><%= l(:support_text_auto_newreply) %></label>
    <input id="settings_auto_newreply" name="settings[auto_newreply]" type="checkbox" value="true" <%= "checked" unless @settings['auto_newreply'].nil? %> /><br /> 
  </p>
</fieldset>
