    <fieldset><legend>Support issue</legend>
    <%=  check_box_tag 'support_sendmail', "doSend", true %> Send copy of this update to client
    <p><label><%= "To:" %></label>
      <%= text_field_tag 'support_to', to, {:size => 60} %><br />
    </p>
    <p><label><%= "CC:" %></label>
      <%= text_field_tag 'support_cc', cc, {:size => 60 } %><br />
    </p>
    </fieldset>
